/* Color Palette
#A4B494 - Laurel Green
#BEC5AD - Gray (X11 Gray)
#3B5249 - Arsenic (Dark Green)
#519872 - Wintergreen Dream (Light Green)
#34252F - Jet (Maroon-ish)
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    /* width: 100vw; */
    background-color: #BEC5AD;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
    /* margin-bottom: 50px; */
}

h1 {
    text-align: center;
}

.banner {
    /* max-width: 50%;     */
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

figure {
    background-color: #A4B494;
    border-radius: 5px;
}

figcaption {
    margin-left: 5px;
}

blockquote {
    background-color: #A4B494;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.book-cover {
    max-width: 30%;
    float: left; 
    border: 0;
    outline: 0;   
}

.book-cover img {
    max-width: 100%;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* footer {    
    padding: 10px 0px;
    background-color: gray;

    position: absolute;
    left: 0;
    right: 0;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer div {
    padding: 10px;
}

footer a:hover {
    background-color: #A4B494;
    padding: 15px;
}

.contact-links a {   
    color: #BEC5AD; 
    padding: 15px;
    font-size: 25px;
} */

.content-wrap {
    max-width: 100vw;
    margin: 0 auto;
    padding: 30px 50px;
    overflow: auto;
}

/* footer */
footer {
    text-align: center;
    background-color: #A1A3AC;
    position: absolute;
    left: 0;
    right: 0;
}

footer a {
    color: #3B5249;
}
  
footer a:hover {
    background-color: #3B5249;
    color: #A4B494;
}
  
.contact-info a {
    /* background: white; */
    padding: 10px 25px;
    display: inline-block;
    font-size: 30px;
    margin: 0px 20px 20px;
}